

$body-color: #777777;
$text-color-black: #000000;
$text-color-greyblack: #333333;
$text-first-letter: #cc580c;
$text-color-white: #ffffff;
$text-color-greywhite: #cccccc;
$text-color-white-e: #eeeeee;
$background-black: #111111;
$background-white-02: rgba(f,f,f,0.2);
$background-black-02: rgba(0,0,0,0.2);
$background-white: #ffffff;
$background-grey: #333333;
$background-lite-grey: #a0a0a0;
$background-green: #3c763d;
$background-red: #cc580c;
$background-dff: #dff0d8;
$border-color: #d6e9c6;
$border-color-d: #dddddd;

$nav-link-padding-y: 10px;
$nav-link-padding-x: 15px;
$nav-link-border-radius: 4px;

$nav-divider-height: 1px;
$nav-divider-margin-y: 9px;
$nav-divider-margin-x: 0;

$nav-justified-link-margin-bottom: 5px;
$grid-columns: 12;
$grid-gutter-width: 30px;